.checkoutProduct_page{
	padding: 10px;
}

.checkout__cont{
	display: flex;
}

.checkoutProduct{
    width: 250px;
	border: 1px dotted grey;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	background: #fff;
}

.checkoutProduct__info{
	padding-left: 20px;
}
.checkoutProduct__image{
	object-fit: contain;
	width: 180px;
	height: 180px;
}

.checkoutProduct__title{
	font-size: 17px;
    font-weight: 300;
    width: 251px;
    background: #f0c14b;
    margin-left: -25px;
    color: #fff;
    padding-left: 9px;
    padding-top: 3px;
    padding: 0px 3px 3px 6px;
    border-bottom: 1px solid #808080;
}

.checkoutProduct__price{
	font-size: 19px;
	font-weight: 500;
}

.checkoutProduct__rating{
	display: flex;
}
