.Login{
	background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 300px;
	padding: 20px;
}

.login__Logo{
	width: 100px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}

.Login > h1 {
	font-weight: 500;
	margin-bottom: 5px;
}

.Login > form > h5 {
	margin-bottom: 5px;
}

.Login > form > input{
	height: 30px;
	margin-bottom: 5px;
	padding-left: 3px;
	background-color: #fff;
	width: 98%;
}

.Login > p {
	margin-top: 15px;
	font-size: 12px;
}